<a href="https://colab.research.google.com/github/maddipatlasruthi/data-op-25-/blob/main/test1lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Load the dataset (replace 'Even.xlsx' with your actual file path)
file_path = 'Even.xlsx'
df = pd.read_excel(file_path, sheet_name='messy_2_employee_data')

# 1. Count unique job roles
unique_job_roles = df['Job_Role'].nunique()
print(f"Number of unique job roles: {unique_job_roles}")

# 2. Check for duplicate employee entries based on Employee_ID
duplicate_employees = df[df.duplicated(subset=['Employee_ID'], keep=False)]
print(f"Duplicate Employee Entries:\n{duplicate_employees}")

# 3. Identify rows with negative salaries
negative_salaries = df[df['Salary_per_Month'] < 0]
print(f"Employees with negative salaries:\n{negative_salaries}")

# 4. Standardizing phone numbers
# Removing non-numeric characters and formatting phone numbers
df['Phone_Number'] = df['Phone_Number'].astype(str).str.replace(r'\D', '', regex=True)
print(f"Standardized Phone Numbers:\n{df['Phone_Number']}")

# 5. Compute hourly wage (Salary_per_Month / Total_Work_Hour_per_Month)
df['Hourly_Wage'] = df['Salary_per_Month'] / df['Total_Work_Hour_per_Month']
print(f"Hourly Wage Column:\n{df[['Employee_ID', 'Hourly_Wage']]}")

# Save the cleaned dataset (optional)
df.to_excel('Cleaned_Even.xlsx', index=False)

Number of unique job roles: 5
Duplicate Employee Entries:
    Employee_Name  Employee_ID        Job_Role  Phone_Number  \
6   Michael Jones         3654         Manager  8.045243e+09
16    Laura Jones         5596         Analyst  6.650995e+09
50     John Jones         1442  Data Scientist  3.139018e+09
56            NaN         3654       Developer  5.844402e+09
72    Jane Wilson         5596         Manager  9.602139e+09
98    Sarah Smith         1442         Analyst  3.294945e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month
6     laura.williams@example.com                      160.0           11200.0
16     john.williams@example.com                      200.0           10000.0
50     laura.williams@sample.org                      160.0            8000.0
56          laura.brown@test.net                      -10.0          100000.0
72          jane.miller@test.net                      200.0           12000.0
98  jessica.anderson@example.com                      -10.0           -5000.0
Employees with negative salaries:
      Employee_Name  Employee_ID        Job_Role  Phone_Number  \
2    Sarah Anderson         2353       Developer  9.463822e+09
8               NaN         5890       Developer  3.155312e+09
12      Laura Davis         6915        Engineer  9.849898e+09
14   Michael Miller         1634  Data Scientist  2.416309e+09
17     John Johnson         8521         Analyst  8.917196e+09
20      Laura Davis         8202             NaN  5.790057e+09
32              NaN         1603        Engineer  4.795532e+09
38     Emily Wilson         9713         Manager  7.156704e+09
41    Jane Williams         7226             NaN  5.351126e+09
48      Chris Jones         9320  Data Scientist  2.767192e+09
60       Jane Jones         6742  Data Scientist  8.355664e+09
62      David Brown         5344  Data Scientist  2.606042e+09
64   Jessica Wilson         6131       Developer  1.805531e+09
70  Michael Johnson         5045         Analyst  8.703092e+09
71    Jane Anderson         8889         Manager  7.736842e+09
81    Jessica Brown         8979        Engineer  3.949648e+09
87    Sarah Johnson         3476             NaN           NaN
89       Jane Jones         7778  Data Scientist           NaN
93    Laura Johnson         2658        Engineer  2.847548e+09
98      Sarah Smith         1442         Analyst  3.294945e+09

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month
2        sarah.wilson@sample.org                     9999.0           -5000.0
8         jane.williams@test.net                     9999.0           -5000.0
12       sarah.brown@example.com                        NaN           -5000.0
14        emily.johnson@test.net                     9999.0           -5000.0
17    jessica.miller@example.com                        NaN           -5000.0
20                           NaN                     9999.0           -5000.0
32          emily.jones@test.net                     9999.0           -5000.0
38        jessica.smith@test.net                      -10.0           -5000.0
41        david.johnson@test.net                     9999.0           -5000.0
48       laura.taylor@sample.org                      -10.0           -5000.0
60       james.wilson@sample.org                      -10.0           -5000.0
62                           NaN                     9999.0           -5000.0
64           john.davis@test.net                        NaN           -5000.0
70    michael.miller@example.com                     9999.0           -5000.0
71     michael.smith@example.com                     9999.0           -5000.0
81     sarah.johnson@example.com                      -10.0           -5000.0
87     jessica.wilson@sample.org                     9999.0           -5000.0
89       sarah.brown@example.com                     9999.0           -5000.0
93      james.wilson@example.com                      -10.0           -5000.0
98  jessica.anderson@example.com                      -10.0           -5000.0
Standardized Phone Numbers:
0     38018808700
1     79047524280
2     94638223300
3     87276281480
4      7750284090
         ...
95    44638835620
96    74550090980
97     4515525620
98    32949454000
99    94256222840
Name: Phone_Number, Length: 100, dtype: object
Hourly Wage Column:
    Employee_ID  Hourly_Wage
0          8797          NaN
1          6540     70.00000
2          2353     -0.50005
3          6392     50.00000
4          1653          NaN
..          ...          ...
95         5111 -10000.00000
96         7388          NaN
97         3773          NaN
98         1442    500.00000
99         3490          NaN

[100 rows x 2 columns]